{% extends 'CoreBundle:Parts:base.html.twig' %}
{% block title %}Game vue{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/game.css') }}" />
{% endblock %}

{% block nav %}
    {% include 'CoreBundle:Parts:nav.html.twig' %}
{% endblock %}



{% block flash %}
{% if game.getCurrentPlayer().id == idPlayer %}
		<div>C'est à vous de jouer !</div>
{% endif %}
{% endblock %}


{% block body %}
	{% set heightCard =  80 %}
	{% set heightCardPrinc = heightCard/100*150 %}

    <div id="table" class="middleView grey darken-3">
    	<div id="game">
        	<div id="topTable" class="flexAround">
        		{# Si joueur opposé #}
            	{% if game.players|length is divisible by (2) %}
            	    {{ include('LoveLetterBundle:Game:opponentPlayer.html.twig', {'idOtherPlayer': game.getOppositePlayer(idPlayer), 'idPlayer': idPlayer, 'posToolTip' : 'bottom' }) }}
      		{% endif %}
        	</div>
        
        	{# Milieu de la table avec les 2 joueurs et le deck #}
        	<div id="middleTable" class="flexAround">
        		{% if game.players|length > 2 %}
        		    {{ include('LoveLetterBundle:Game:opponentPlayer.html.twig', {'idOtherPlayer': game.getNextPlayer(idPlayer), 'idPlayer': idPlayer, 'posToolTip' : 'right' }) }}
        		{% endif %}
        		{{ include('LoveLetterBundle:Game:deck.html.twig', {'deck': game.getDeck(), 'idPlayer': idPlayer}) }}
        		{% if game.players|length > 2 %}
        		    {{ include('LoveLetterBundle:Game:opponentPlayer.html.twig', {'idOtherPlayer': game.getPreviousPlayer(idPlayer), 'idPlayer': idPlayer, 'posToolTip' : 'left' }) }}
        		{% endif %}
        	</div>
        	
        	{{ include('LoveLetterBundle:Game:dashboard.html.twig', {'idPlayer': idPlayer}) }}
    	</div>
    	<a class="btn waves-effect waves-light red darken-3" href="{{ path('loveletter_default_quit') }}">
			Quitter la partie<i class="material-icons right">close</i></a>

{% endblock %}

{% block footer %}
{% include 'CoreBundle:Parts:footer.html.twig' %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('js/Game.js') }}"></script>
	{#Faire en propre : https://openclassrooms.com/courses/passez-des-variables-a-javascript-depuis-symfony2 #}
	{% if game.getCurrentPlayer().id != idPlayer %}
	<script type="text/javascript">
	var historySize = {{ game.getHistorySize }};
	var x = setInterval(function() {
		$.getJSON('{{ path('loveletter_default_update', {'id': game.id}) }}', function(data) {
			if(data['historySize'] != historySize) {
				window.location.href = "{{ path('loveletter_default_view', {'id': game.id}) }}";
		}});
	}, 5000);
	</script>
	{% endif %}
{% endblock %}