{% extends 'CoreBundle:Parts:base.html.twig' %}
{% block title %}Historique de la partie{% endblock %}

{% block nav %}
    {% include 'CoreBundle:Parts:nav.html.twig' %}
{% endblock %}
{% set offset = 4 %}
{% block body %}
	<div class="row">
    <div class="center-align grey darken-3">
    <h1 class="white-text">Résultat de la partie :</h1>
    </div>
    <div class="parallax-container"> 
        <div class="parallax"> 
            <img src="{{ asset('images/Love-Letter-Header-cut.jpg') }}"> 
        </div> 
    </div>

    <div class="grey darken-3">
        <div class="row">
            <div class="col l4 offset-l{{ offset }} m12 center-align">
                <h3 class="white-text">Score des Joueurs :</h3>
                <div class="col l4 offset-l4 s8 offset-s2 grey darken-4 card-panel" id="liste">
                    {% for player in game.players %}
                        <h5 class="blue-text">{{ player.username }} : {{ player.score }}</h5>
                    {% endfor %}
                </div>
             </div>
        </div>
    </div>
    <div class="parallax-container"> 
        <div class="parallax"> 
            <img src="{{ asset('images/Love-Letter-Cards-mod.jpg') }}"> 
        </div> 
    </div>
    <div class="grey darken-3">
        <div class="row">
            <div class="col l4 offset-l{{ offset }} m12 center-align">
                <h3 class="white-text">Historique :</h3>
                <div id="history">
                    {% for i in game.getHistorySize()-1..0 %}
                        {% set histo = game.getHistory() %}
                        {% autoescape false %}
                        {{ histo[i].toString() }}</br>
                        {% endautoescape %}
                    {% endfor %}
                </div>
             </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% include 'CoreBundle:Parts:footer.html.twig' %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/Index.js') }}"></script>
{% endblock %}
