@charset "UTF-8";

body
{
    background-color: #424242;
}

.flexAround
{
	display : flex;
	justify-content: space-around;
}

.flexBetween{
	display : flex;
	justify-content: space-between;
}

.flex{
	display : flex;
}
.centrer{
	text-align: center;
}

.cards{
	display: flex;
	justify-content: space-around;
}

#middleTable .cards {
	display: flex;
	flex-direction: column;
}

#player{
	padding-left: 50px;
}

#hand{
	padding-right: 20px;
}

#playCards img{
	margin-right: 10px;
}

#playCards{
	margin: auto;
}


#table{
	background: grey;
}

.redFont{
	color: #a40000;
}

.boldFont{
	font-weight: bold; 
}

#history{
	height: 150px;
	width: 400px;
	overflow: auto;
	margin: 10px;
	background-color: #AAAAAA;
	padding: 10px;
	padding-top: 0px;
	border: 6px #555555 double;
	border-radius: 10px;
}

.borderBlack
{
	border: 3px #555555 solid;
}
p
{
	padding: 0px;
	margin-bottom: 0px;
}
.player
{
	flex: 1;
	padding-left: 6px;
	padding-right: 6px;
}

.backColor
{
	background-color: #AAAAAA;
}

.current
{
	background-color: #EEEEEE;
}

.elim
{
	background-color: #FF7777;
}

.card
{
	width: 150px;
	padding: auto;
	margin: auto;
	margin-bottom: 10px;
}

.playCard
{
	justify-content: center;
}

.nameCard
{
	margin-top: -20px;
	margin-left: 50px;
}

.shadow
{
	box-shadow: 3px 3px 6px black;
}

#middleTable .cards img{

	border : 3px solid green;
	transform : rotate(90deg);
	text-align: center;
	box-shadow: 3px -3px 6px black;
}

#setGame + .opponent .cards img{
	border : 3px solid purple;
	transform : rotate(-90deg);
	box-shadow: -3px 3px 6px black;
}

#topTable .cards img{
	border : 3px solid red;
	transform : rotate(-180deg);
	box-shadow: -3px -3px 6px black;
}

.flexCenter{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 150px;
}

.decal{
	margin-left: 60px;
}